/* ======================================================
   OEFENEN MET FLEXBOX
========================================================= */
.one, .two, .three, .four, .five {
    display: flex;
}


/* Opdracht 2.1 */

.one {
    flex-direction: column-reverse;
    
}

.one p {
    order: 2;
}

/* Opdracht 2.2 */
.two {
    justify-content: space-between;
}

/* Opdracht 2.3 */

.three {
    justify-content: space-between;
}

.three ul {
    display: flex;
    width: 500px;
    margin: 0px;
    padding: 0px;
    justify-content: space-around;
}

.three li {
    list-style-type: none; 
}

/* Opdracht 2.4 */

.four {
    justify-content: center;
}

.four form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/* Opdracht 2.5 */  

.five {
    flex-wrap: wrap; 
}

article {
    flex: 300px; 
}

